Repository hmcts/pip-cron-trigger, pull requests merged in 2024-01, with the labels that each got.

#138 PUB-2245 - Updated README + Removed old code
  README.md
  build.gradle
  cron-trigger-arch.png
  src/functionalTest/java/uk/gov/hmcts/reform/pip/cron/trigger/controllers/SampleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/cron/trigger/controllers/IntegrationTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/pip/cron/trigger/controllers/SampleSmokeTest.java
Labels: ns:pip, prd:pip, rel:pip-cron-trigger-pr-138

#139 PUB-2182 add terraform_format.yml
  .github/workflows/terraform_format.yml
  infrastructure/state.tf
Labels: ns:pip, prd:pip, no-changes, rel:pip-cron-trigger-pr-139

#142 Merge code freeze branch to Master
  .github/workflows/terraform_format.yml
  README.md
  build.gradle
  charts/pip-cron-trigger/Chart.yaml
  cron-trigger-arch.png
  infrastructure/state.tf
  src/functionalTest/java/uk/gov/hmcts/reform/pip/cron/trigger/controllers/SampleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/cron/trigger/controllers/IntegrationTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/pip/cron/trigger/controllers/SampleSmokeTest.java
Labels: ns:pip, prd:pip, no-changes, rel:pip-cron-trigger-pr-142

#143 PUB-2133 - Updated spring boot
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-cron-trigger-pr-143
